/* font */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;&family=Lato:wght@300;400&display=swap');

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* STYLE */
html,
body {
  height: 100vh;
  width: 100vw;
  background: #D9CDF7;
  overflow: hidden;
  display: grid;
  align-items: center;
}

input {
  display: none;
}
/* components */
.container {
  width: 875px;
  height: 498px;
  margin: auto;
  display: flex;
  align-items: center;
  column-gap: 13px;
  transform: scale(1.2);
}

.container>.img-box {
  position: relative;
  width: 449px;
  height: 222.96px;
}

.container>.img-box>.img {
  width: 100%;
  height: 100%;
  background: url(../img/sofa.png) center no-repeat;
  background-size: cover;
}

.container>.img-box>label {
  position: absolute;
  right: 10%;
  display: block;
  width: 33px;
  height: 22.47px;
  background: url(../img/360.svg) center center no-repeat;
  cursor: pointer;
}

.container>input:checked~.img-box>label {
  background: url(../img/x.svg) center center no-repeat;
}

.container>input:checked~.img-box>.img {
  background: url(../img/sofa.gif) center no-repeat;
  background-size: contain;
}

.infoProduct {
  display: grid;
  row-gap: 20px;
}

.infoProduct>.descriptions {
  display: grid;
  row-gap: 12px;
}

.infoProduct>.descriptions>.cod {
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #271A45;
}

.infoProduct>.descriptions>.nameProduct {
  font-family: 'Crimson Text', serif;
  color: #271A45;
  font-size: 32px;
  font-weight: 600;
}

.infoProduct>.descriptions>.price {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #271A45;
}

.infoProduct>.addCart {
  font-family: 'lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  background: none;
  color: #271A45;
  text-transform: uppercase;
  border-radius: 99px;
  border: 1px solid #271A45;
  width: 148px;
  height: 32px;
}


/* Responsive */
@media (max-width: 859px) {
  .container {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    place-items: center;
  }
}

@media (max-width: 459px) {
  .container>.img-box {
    width: 100%;
    max-height: 222.96px !important;
  }
}

@media (max-width: 300px) {
  .infoProduct>.descriptions>.cod {
    font-size: 8px;
  }

  .infoProduct>.descriptions>.nameProduct {
    font-size: 24px;
  }

  .infoProduct>.descriptions>.price {
    font-size: 12px;
  }
}
